<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Alias }}@{{ .Domain }} | GoSpam</title>
        <link rel="stylesheet" type="text/css" href="./static/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="./static/mailbox.css">

        <script src="./static/jQuery.min.js"></script>
        <script src="./static/semantic.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="./static/favicon.ico">
    </head>
    <body>
        <div class="ui center aligned header">
            <h1 style="margin-bottom: 5px; margin-top: 100px;"><a href="/">GoSpam</a></h1>
            <h4 style="margin-top: 0; text-transform: uppercase;">simple throw-away e-mail</h4>
        </div>

        <div class="ui center aligned container" style="margin-top: 50px;">
            <form method="GET" action="/mailbox">
                <div class="ui item action input labeled input">
                    <label for="alias" class="ui label">Show mailbox</label>
                    <input type="text" name="alias" id="alias" style="text-align: right;" placeholder="{{ .RandomAlias }}">
                    <button type="submit" class="ui button">@{{ .Domain }}</button>
                </div>
            </form>
        </div>

        <div class="ui container" style="margin-top: 50px;">
            <table class="ui striped compact table">
                <thead>
                    <tr>
                        <th><i class="envelope icon"></i></th>
                        <th>Received</th>
                        <th>Envelope Sender</th>
                        <th>Subject</th>
                        <th>Envelope Recipients</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .EMails }}
                    <tr class="accordion title">
                        <td><i class="caret right icon"></i></td>
                        <td>{{ DateFormat .Time }}</td>
                        <td>{{ .From }}</td>
                        <td>{{ .Subject }}</td>
                        <td>{{ Join .To }}</td>
                    </tr>
                    <tr class="accordion content">
                        <td colspan="5">
                            <div class="ui left aligned accordion content">
                                <pre class="ui secondary segment" style="font-family: monospace;">{{ ShowMail . }}</pre>
                                <div class="ui right aligned">
                                    <a class="ui basic labeled icon button" href="/mail?id={{ .ID }}">
                                        <i class="download icon"></i>
                                        .eml
                                    </a>
                                </div>
                            </div>                            
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>

        <div class="ui center aligned container" style="margin-top: 50px;">
            <div class="ui item message">E-Mail messages will be deleted after <b>{{ .RetentionHours }}</b> hours.</div>
        </div>
       

        

        
        <script src="./static/mailbox.js"></script>
    </body>
</html>